.search {
	display: flex;
	width: 100%;
	gap: 10px;
	margin-bottom: 30px;
}

.search__wrapper {
	position: relative;
	flex: 1;
	display: flex;
}

.search__wrapper img {
	position: absolute;
	left: 10px;
	top: 12px;
}

.search__input {
	background: #DEDEDE;
	border: none;
	border-radius: 5px;
	color: #252525;
	padding: 15px 30px 15px 50px;
	flex: 1;
}

.search__input::placeholder {
	color: #494949;
}

.input-btn {
	padding: 0 15px;
	border: none;
	background: var(--black);
	color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}